/* base styles */
* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  text-align: center;
  font-size: 1.4em;
  font-family: Verdana;
}
form {
  background: white;
  margin: 200px auto;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}
form .field {
  display: flex;
  align-items: center;
}
form input {
  margin: 0 16px;
  font-size: 0.8em;
  border: 2px solid #777;
  border-radius: 4px;
  padding: 4px;
}

.tick {
  opacity: 0;
  color: rgb(25, 218, 239);
  transition: all ease-in 0.2s;
  transform: translateY(10px);
}

/* solution styles */
.valid .tick {
  opacity: 1;
  transform: translateY(0px);
}

.valid input {
  outline-color: rgb(25, 218, 239);
  border-color: rgb(25, 218, 239);
}
